apiVersion: v1
kind: ConfigMap
metadata:
  name: zk-observer
  labels:
  {{- include "helm-charts.labels" . | nindent 4 }}
data:
  config.yaml: |-
    port: 8147
    setHttpEndPoint: true
    # disabling this will also disable any rule evaluation or protocol detection on spans
    setSpanAttributes: true        
    logs:
      color: {{ .Values.serviceConfigs.logs.color }}
      level: {{ .Values.serviceConfigs.logs.level }}
    redis:
      port: 6379
      dbs:
        filtered_traces: 1
        scenarios: 2
        traces: 3
        executor_attr: 4
        resource_and_scope_attr: 5
        service_attr: 6
        pod_details: 7
        error_details: 8
    badger:
      badgerPath: /zk/badger-db
      batchSize: 20
      gcDiscardRatio: 0.5
      gcTimerDuration: 300
    traces:
      syncDuration: 30
      batchSize: 30
      ttl: 900
    workloads:
      syncDuration: 30
      batchSize: 30
      bucketActiveDuration: 60
      ttl: 300
    scenario:
      syncDuration: 30
    exception:
      syncDuration: 30
      batchSize: 30
      ttl: 3600
    resources:
      syncDuration: 30
      batchSize: 30
      ttl: 3600
    services:
      syncDuration: 30
      batchSize: 30